.header {
  grid-area: head;
  background: cornflowerblue;
}

.header img {
  width: 100px;
  margin: 10px;
}

.login_block {
  float: right;
  padding: 10px 20px;

  color: rgb(82, 207, 134);
  font-size: 1.5rem;
  font-weight: 600;



}

.login_block a {
  color: rgb(82, 207, 134);
  font-size: 1.5rem;
  font-weight: 600;
}

.login_block a:hover {
  color: rgba(82, 207, 134, 0.5);
  text-decoration: none;
}

.logout {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.logout:hover {
  color: rgba(82, 207, 134, 0.5);
}